* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #111;
}

.top {
  display: flex;
  padding: 1rem;
  /* border: 1px solid black; */
  /* background-color: #59cbee; */
  background-color: rgba(9, 9, 9, 0.951);
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.286) 0px 3px 8px;
  height: 3rem;
  position: fixed;
  width: 100%;
  margin-top: -6.5rem;
  z-index: 5;
}

.name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 29px;
  font-weight: bolder;
  color: #ff9933;
  margin-left: 3rem;
}

.logo {
  padding: 0.6rem;
  /* border: 1px solid black; */
  border-radius: 50%;
  color: white;
  /* background-color: rgb(245, 199, 84); */
  background-color: #ff9933;
  font-size: larger;
  margin-left: 1rem;
}

.menuicon {
  font-size: large;
  color: white;
  padding: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.menuicon:hover {
  background-color: #59b2ee;
}

.aboutpage {
  color: white;
  text-decoration: none;
  font-size: larger;
  margin-left: 3.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
  border-top: 2px solid rgba(9, 9, 9, 0.951);
  border-bottom: 2px solid rgba(9, 9, 9, 0.951);
  /* border-radius: 10px; */
  /* border: 2px solid #59cbee; */
  /* border: 1px solid rgba(26,26,26,0.95); */
}

.homepage {
  color: white;
  text-decoration: none;
  font-size: larger;
  margin-left: 5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
  padding-bottom: 1vh;
  border-bottom: 2px solid #ff9933;
  /* border-radius: 10px; */
  /* border: 2px solid #59cbee; */
  /* border: 2px solid rgba(26,26,26,0.95); */
}

.aboutpage:hover {
  /* text-decoration: underline; */
  font-size: 22px;
  transform: translateX(5px);
  border-top: 2px solid #ff9933;
  border-bottom: 2px solid #ff9933;
  padding: 0.5vw;
}

.reservebtn {
  display: inline-block;
  padding: 14px 40px;
  background: linear-gradient(45deg, #ff6b00, #ffb347);
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 600;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  font-size: 19px;
  /* margin-right: 4vw; */
  right: 4vw;
  position: absolute;
}

.reservebtn:hover {
  /* background-color: #a31e25; */
  transform: translateY(-3px);
}

.pic {
  border: 3px solid #ff9933;
  display: flex;
  margin: 1rem 1vw 5rem 1vw;
  margin-top: 6.5rem;
  margin-bottom: 0;
  /* margin-top: 5rem; */
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  padding: 1rem;
}

.momoimg {
  /* border: 1px solid black; */
  margin: 1rem;
  height: 25rem;
  border-radius: 20px;
}

.momodes {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 5vh;
  color: rgb(173, 172, 172);
  width: 50vw;
}
.btn {
  margin-top: 5rem;
  margin-left: 30rem;
  padding: 14px 40px;
  font-size: 1rem;
  font-weight: bolder;
  color: white;
  border-radius: 20px;
  font-size: 19px;
  /* border: 2px solid rgb(0, 174, 255); */
  border: none;
  background: linear-gradient(45deg, #ff6b00, #ffb347);
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
}
.btn:hover {
  /* background-color: #a31e25; */
  transform: translateY(-3px);
}
.description {
  text-align: center;
  /* margin-top: 2vh; */
  color: #ff9933;
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
  margin-top: 4vh;
}
.somefoods {
  /* border: 3px solid #FF9933; */
  margin: 1rem;
  margin-top: 2.5vh;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.vegmomo,
.paneerjholmomo,
.lassi {
  /* border: 3px solid #D4AF37; */
  border-radius: 30px;
  padding: 0.5rem;
  width: 300px;
  text-align: center;
  height: 400px;
  background-color: #1d1d1d;
  cursor: pointer;
  backdrop-filter: blur(18px);
  transition: 0.4s;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.4);
}

.vegmomo:hover {
  transform: translateY(-15px);
  /* transform: rotate(2deg); */
}
.paneerjholmomo:hover {
  transform: translateY(-15px);
  /* transform: rotate(8deg); */
}
.lassi:hover {
  transform: translateY(-15px);
  /* transform: rotate(8deg); */
}
.vegmomo-name,
.paneerjholmomo-name,
.lassi-name {
  /* font-size: 18px; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ff9933;
  font-size: 23px;
  font-weight: 600;
}
.vegmomo-img,
.paneerjholmomo-img,
.lassi-img {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  margin: 1rem;
  margin-top: 1.5rem;
}
.dishespage {
  color: #ffb347;
  padding-bottom: 0.75rem;
  background: linear-gradient(#e53740, #e53740) bottom center / 5% 2px no-repeat;
  margin-top: 4rem;
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.moremenu {
  text-align: center;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-size: 20px;
  font-weight: bolder;
  margin-top: 3vh;
  color: #ff9933;
  font-style: italic;
}
.menulink {
  margin-left: 45%;
  transition: all 0.3s;
  /* color: white; */
}
.menubtn {
  cursor: pointer;
  color: white;
  border-radius: 10px;
  /* border: 2px solid rgb(0, 174, 255); */
  background: linear-gradient(45deg, #ff6b00, #ffb347);
  padding: 14px 40px;
  font-size: 19px;
  font-weight: bolder;
  border: none;
  margin: 1rem;
  transition: all 0.3s;
  /* transition: all 0.3s ease-in-out; */
}
.menubtn:hover {
  /* background-color: #a31e25; */
  transform: translateY(-3px);
}
.menulink:hover {
  transform: translateY(-3px);
}
.vegmomodes {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(173, 172, 172);
  font-size: larger;
  /* border: 1px solid white; */
  width: 18vw;
  /* text-align: center; */
  margin-left: 2vw;

  /* font-weight: bolder; */
}
.vegmomoprice {
  margin-top: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* color: rgb(235, 47, 47); */
  color: #ff9933;
  font-size: 22px;
  font-weight: 600;
}
.opening-hours {
  background-color: #1b1a1a;
  color: white;
  text-align: center;
  padding: 50px 20px;
  margin: 1rem;
  margin-top: 5vh;
  border-radius: 10px;
  border: 3px solid #3d3b3b;
}

.opening-hours h2 {
  color: #d4af37;
  font-size: 40px;
  font-style: italic;
  margin-bottom: 30px;
}

.hours {
  max-width: 500px;
  margin: auto;
}

.hours p {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d4af37;
  padding: 15px 0;
  font-size: 18px;
}

.hours span {
  color: #ffffff;
}

.hours strong {
  color: #d4af37;
}
.freshingre {
  /* border: 2px solid #D4AF37; */
  background-color: #1d1d1d;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  backdrop-filter: blur(18px);
  transition: 0.4s;
  padding: 1rem;
  width: 270px;
  text-align: center;
  height: 350px;
  cursor: pointer;
}

.freshingre:hover {
  transform: translateY(-15px);
}
.freshingre-img {
  width: 150px;
  border-radius: 10px;
  /* width: 250px; */
  height: 150px;
  margin: 1rem;
  margin-top: 1.5rem;
  border-radius: 100%;
}
.freshingredients-name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ff9933;
  font-size: 23px;
  font-weight: 600;
}
.feedback-description {
  text-align: center;
  font-size: larger;
  color: #ff9933;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  margin-top: 2vh;
}
.feedbacks {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 50px;
}

.card1 {
  width: 330px;
  padding: 30px;
  background: #1b1b1b;
  border-radius: 25px;
  transition: 0.4s;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.card1:hover {
  transform: translateY(-12px);
}

.person-name {
  font-size: 22px;
  font-weight: 700;
  color: #ffb347;
  margin-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.person-description {
  line-height: 1.8;
  color: #A3A2A2;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer {
  background-color: #1b1a1a;
  /* background-color: #003366; */
  margin-top: 5rem;
  /* color: #D4AF37; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.footer-name {
  font-size: 35px;
  font-weight: bolder;
  color: #ff9933;
  margin-left: 2vw;
}
.footer-address {
  border: 2px solid #ff9933;
  padding: 2rem;
  border-radius: 10px;
  width: 38vw;
  font-size: 20px;
  /* color: #D4AF37; */
}

.socialmedia {
  border: 2px solid #ff9933;
  padding: 2rem;
  border-radius: 10px;
  width: 38vw;
  font-size: 20px;
  margin-top: 2.5vh;
}

.location {
  height: 400px;
}
.location-mark {
  color: red;
  position: relative;
  font-size: 28px;
  right: 18vw;
  bottom: 25vh;
}
.location-text {
  position: relative;
  font-weight: 700;
  font-size: 23px;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid #1d1d1d;
  width: 14.5vw;
  bottom: 40vh;
  left: 14vw;
  color: #ff9933;

}
.address-text {
  color: #A3A2A2;
  font-size: 25px;
}
.address-name {
  display: flex;
  align-items: center;
  margin-top: 2vh;
  /* justify-content: space-between; */
}
.address-location {
  color: #A3A2A2;
}
.address-answer {
  color: #A3A2A2;
}
.location-icon {
  color: #ff9933;
  font-size: 28px;
}
.address-div {
  margin-left: 2vw;
}
.followtext {
  color: #A3A2A2;
  font-size: 25px;
}
.copyright {
  color: #A3A2A2;
  font-size: medium;
  margin-left: 2vw;
}
.faqpage {
  padding: 1.5rem;
  /* padding-top: 2rem; */
  /* border: 2px solid black; */
  border-radius: 10px;
  /* margin: 2rem; */
  margin-left: 20vw;
  margin-right: 25vw;
  /* justify-content: center; */
}
.faqpage-description {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin-left: 1vw;
  color: #ff9933;
}
.faq-box {
  padding: 1vh 2vw;
  border-radius: 5px;
  /* border: 2px solid rgb(3, 202, 3); */
  background: linear-gradient(45deg, #ff6b00, #ffb347);
  color: white;
  font-size: large;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.faq-title {
  display: flex;
  align-items: center;
  margin-left: 10vw;
}
.faq-main1 {
  /* border: 1px solid black; */
  margin-left: 2vw;
  margin-top: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border-left: 4vw; */
  border: 3px solid #1d1d1d;
  padding-left: 2.5rem;
  border-radius: 10px;
  width: 50vw;
  cursor: pointer;
  transition: all ease 0.7s;
  background-color: #1d1d1d;
}
.a {
  text-decoration: none;
  color: white;
  /* border: 1px solid black; */
  margin-bottom: 6.5vh;
}
.faq-main1:hover {
  transform: translateY(-5px);
  border-bottom: 3px solid #ff9933;
  border-left: 3px solid #ff9933;
}

.faq-que {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #ff9933;
}
.faq-ans {
  color: #A3A2A2;
  font-size: larger;
  margin-top: 1rem;
}
